logs/
gin-bin
dist/
gin.bin
.idea/

# Byte-compiled / optimized / DLL files

# C extensions
*.so

# Distribution / packaging
develop-eggs/
downloads/
parts/
sdist/
var/
wheels/
 .idea/
 ./Gromit
.installed.cfg
MANIFEST
.vscode/

*.manifest
*.spec

# Installer logs

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache


# Sphinx documentation
docs/_build/

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypyve
.mypy_cache/

# node_modules
node_modules/

# egg-info
*.egg-info

# .DS_Store
.DS_Store

.docks
.docs

logs/
tmp/
_book/
.idea
*.lock
.czrc
*.orig
